/* src/components/WikiViewer.scss */
.wiki-viewer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: none;
  .ProseMirror {
    border: none;
    min-height: 0;
    padding: 0;
  }
  &__section {
    summary {
      list-style: none; // 리스트 마커 제거
      position: relative; // ::before 위치 기준
      padding-left: 35px; // 아이콘 크기만큼 왼쪽 여백
    }

    /* Webkit (크롬, 사파리) */
    summary::-webkit-details-marker {
      display: none;
    }
    /* Firefox */
    summary::marker {
      display: none;
    }

    summary::before {
      content: url("./../assets/ic_arrow_bottom.svg");
      position: absolute;
      left: 8px;
      transform: translateY(-50%);
      width: 17px;
      height: 10px;
    }

    &:not([open]) > summary::before {
      content: url("./../assets/ic_arrow_bottom.svg");
      position: absolute;
      left: 8px;
      transform: translate(-100%, 150%) rotate(-90deg);
      width: 17px;
      height: 10px;
    }
  }

  &__section-title {
    color: var(--BLACK, #212529);
    font-family: Pretendard;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.54px;
  }

  &__section-body {
    margin-left: 1rem;
    word-break: break-all;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;

    p {
      margin: 1px;
    }
  }
  &__segment {
    word-break: break-all;

    color: var(--BLACK, #212529);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
  }
}
